.main_banner {
    background-image: url('../assets/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.main_sobre,
.main_mapa,
.main_servicos,
.main_agendamento,
.main_videos {
    
    padding: 45px 250px;

}
.main_sobre_titulo,
.main_mapa_titulo,
.main_servicos_titulo,
.main_agendamento_titulo,
.main_videos_titulo {
    color: var(--color-green);
    font-family: var(--primary-font);
    font-size: 45px;
    padding: 25px 0;
    text-align: center;
}
.main_sobre_texto {
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}
.main_mapa_conteudo {
    max-width: 1440px;
    text-align: center;
}
.main_mapa_conteudo iframe {
    height: 440px;
    width:100%;
}
.main_servicos_lista {
    align-items: center;
    color: var(--color-green);
    display: flex;
    font-family: var(--second-font);
    justify-content: space-between;
}
.main_servicos_item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 260px;
    text-align: center;
}
.main_servicos_item {
    border: 1px solid var(--color-orange);
    background-color: rgba(96, 108, 56, .1);
}
.main_servicos_item h3 {
    font-size: 25px;
    padding-top: 32px;
}
.main_servicos_imagem {
    max-width: 132px;
}
.main_servicos_item span:last-child {
    background-color: var(--color-green);
    color: var(--color-white);
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
}
.main_agendamento_form {
    padding: 68px 0;
    margin: 20px 0;
}
.main_agendamento_form fieldset {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
fieldset input {
    background-color: var(--color-orange);
    border: transparent;
    font-family: var(--second-font);
    padding: 10px;
    text-align: center;
    width: 450px;
}
fieldset input[type=submit] {
    background-color: var(--color-green);
    color: var(--color-white);
    width: 250px;
    transition: .3s all;
}
fieldset input[type=submit]:hover {
    background-color: var(--color-orange);
    color: var(--color-text);
}
.main_videos {
    text-align: center;
}
.main_frame{
    padding: 25px 0;
}
.mensagem {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    color: var(--color-text);
    font-style: italic;
}
/*@media screen and (min-width: 320px) and (max-width: 600px){
    .main-banner {
        background-image: url('../assets/banner.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 128px;
        max-width: 600px;
    }
    .sobre, .mapa, .servicos, .agendamento, .videos {
        padding: 10px;
    }
    .sobre-titulo, .mapa-titulo, .servicos-titulo, .agendamento-titulo, .videos-titulo {
        color: var(--cor-secundaria);
        font-family: var(--fonte-primaria);
        font-size: 16px;
        text-align: center;
    }

    .sobre-texto {
        font-size: 10px;
        line-height: 1.5;
        text-align: justify;
    }
    .mapa-conteudo {
        max-width: 600px;
        text-align: center;
    }
    .mapa-conteudo iframe {
        width:50%;
        height: auto;
    }
    .servicos-lista {
        max-width: 600px;
        padding-right: 32px;
    }
    .servicos-item {
        align-items: center;
        display: flex;
        font-size: 10px;
        flex-direction: column;
    }
    .servicos-item h3 {
        font-size: 14px;
        padding-top: 32px;
    }
    .servicos-imagem {
        max-width: 128px;
    }
    .servicos-item span:last-child {
        color: var(--cor-secundaria);
        font-size: 11.5px;
        font-weight: bold;
    }
    fieldset {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    fieldset input {
        text-align: center;
        width: 128px;
        font-size: small;
    }
    .videos {
        text-align: center;
    }
    .videos iframe {
        width: 50%;
    } 
}*/