.main-banner {
    background-image: url('../assets/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    max-width: 1440px;
}
.sobre, .mapa, .servicos, .agendamento, .videos {
    padding: 25px;
}
.sobre-titulo, .mapa-titulo, .servicos-titulo, .agendamento-titulo, .videos-titulo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 30px;
    text-align: center;
}
.sobre-texto {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}
.mapa-conteudo {
    max-width: 1440px;
    text-align: center;
}
.mapa-conteudo iframe {
    height: 440px;
    width:80%;
}
.servicos-lista {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    padding-right: 42px;
}
.servicos-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 0 20px;
    max-width: 250px;
    padding: 0 20px;
    text-align: center;

}
.servicos-item h3 {
    font-size: 20px;
    padding-top: 32px;
}
.servicos-imagem {
    max-width: 132px;
}
.servicos-item span:last-child {
    background-color: var(--cor-secundaria);
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
}
.agendamento-form {
    padding: 68px 0;
}
fieldset {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
fieldset input {
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 350px;
}
fieldset input[type=submit] {
    background-color: var(--cor-secundaria);
    border: 1px solid transparent;
    color: #fff;
    width: 10%;
}
fieldset input[type=submit]:hover {
    background-color: var(--cor-terciaria);
    color: #fff;
    transition: .3s all;
}
.videos {
    text-align: center;
    padding: 25px;
}
@media screen and (min-width: 320px) and (max-width: 600px){
    .main-banner {
        background-image: url('../assets/banner.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 128px;
        max-width: 600px;
    }
    .sobre, .mapa, .servicos, .agendamento, .videos {
        padding: 10px;
    }
    .sobre-titulo, .mapa-titulo, .servicos-titulo, .agendamento-titulo, .videos-titulo {
        color: var(--cor-secundaria);
        font-family: var(--fonte-primaria);
        font-size: 16px;
        text-align: center;
    }

    .sobre-texto {
        font-size: 10px;
        line-height: 1.5;
        text-align: justify;
    }
    .mapa-conteudo {
        max-width: 600px;
        text-align: center;
    }
    .mapa-conteudo iframe {
        width:50%;
        height: auto;
    }
    .servicos-lista {
        max-width: 600px;
        padding-right: 32px;
    }
    .servicos-item {
        align-items: center;
        display: flex;
        font-size: 10px;
        flex-direction: column;
    }
    .servicos-item h3 {
        font-size: 14px;
        padding-top: 32px;
    }
    .servicos-imagem {
        max-width: 128px;
    }
    .servicos-item span:last-child {
        color: var(--cor-secundaria);
        font-size: 11.5px;
        font-weight: bold;
    }
    fieldset {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    fieldset input {
        text-align: center;
        width: 128px;
        font-size: small;
    }
    .videos {
        text-align: center;
    }
    .videos iframe {
        width: 50%;
    } 
}