@import url('header.css');
@import url('main.css');
@import url('footer.css');
:root {
    --primary-font: "Bebas Neue", sans-serif;;
    --second-font: "Poppins", sans-serif;
    --color-text: #252422;
    --color-green: #283618;
    --color-lightgreen: #b0c4b1;
    --color-orange: #fb8500;
    --color-white: #FEFAE0;
}