:root{
    --fonte-primaria: "Alfa Slab One", serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    --cor-principal: #0D0D0D;
    --cor-secundaria: #ef6950;
    --cor-terciaria: #1e1a17;
}

body {
    background-color: #f4f1e9;
    font-family: var(--fonte-primaria);
    line-height: 1.5;
}